{% macro navigation(page, breadcrumbs=true, include_site=true) %}
    {% if breadcrumbs %}
        <div class="breadcrumbs">
            {% for parent in page.ancestors %}
                {% set s = get_section(path=parent, include_pages=false) %}
                <a href="{{s.permalink}}">
                    {% if not loop.first %}→{% endif %} {{s.title}}
                </a>
            {% endfor %}
            {% if include_site %}
                <div class="current-page">→ {{ page.title }}</div>
            {% endif %}
        </div>
    {% endif %}
    <div class="navigation-bar">
        <div class="navigation-button">
            <a href="/tags">Tags</a>
        </div>
        <div class="navigation-button">
            <a href="/authors">Authors</a>
        </div>
    </div>
{% endmacro navigation %}
