{% extends "index.html" %}

{% block title %}
    {{ config.title }} | {{ page.title }}
{% endblock title %}

{% block nav %}
    {{ macro::navigation(page=page) }}
{% endblock nav %}


{% block content %}
    <div class="taxonomies">
        {% if page.taxonomies.authors %}
            By
            {% for author in page.taxonomies.authors %}
                <a href="{{ get_taxonomy_url(kind="authors", name=author) | safe }}" >{{ author }}</a>
            {% endfor %}
        <br>
        {% endif %}
        {% if page.taxonomies.tags %}
            Tags:
            {% for tag in page.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" >
                    {{ tag }},
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <article>
        {{ page.content | safe }}
    </article>
{% endblock content %}
